html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.menuWrap{display:none;}

.slicknav_menu {
  font-size: 16px;
  background: #e8e8e8;
  padding: 5px;
  width: 100%;
}

.slicknav_menu_open{
  background: white;
}

.slicknav_btn {
  background: #b50000;
}

.slicknav_menu .slicknav_icon{
  margin: 0em 0 0 0em;
}

.slicknav_nav {
  background: white;
}


.slicknav_nav a{
  color: #b50000;
}

.LogoWrapper{
  display: none;
}

.LogoWrapper_mobile{
  width: 10%;
  margin: 0 40% 0 0;
  float: left;
}

.LogoWrapper_mobile img{
  display: block;
  width: 100%;
}

.shopcart_mobile{
  width: 10%;
  margin: 0 0% 0 40%;
  float: right;
}

.shopcart_mobile img{
  display: block;
  width: 100%;
}

.logobuttonWrapper{
  display: none;
}

.globalMenuContainer{
  display: none;
}

.globalSearch_mobil{
  padding-top: 15%;
}

.globalSearch_mobil input{
  line-height: normal;
  border-radius: 9px;
  height: 28px;
  width: 90%;
  margin: 0px 5% 0 5%;
}

.globalSearch_mobil input:last-child{
  line-height: normal;
  border-radius: 9px;
  height: 45px;
  width: 92%;
  margin: 0px 5% 0 5%;
}

.mobileSearchbutton{
  background: #b50000;
  color:white;
  font-weight: bold;
  height: 28px;
}

.page_title{
  border-top: 1px dotted rgba(192,192,192,0.9);
  width: 90%;
  margin: 0 5%;
}

.page_title p{
  margin: 5% 0 0 0;
}

.page_title h1{
  margin: 3% 0 0 0;
}

.title_block_2{
  width: 98%;
  margin: 0 0 0 3%;
}


.title_block_2 img{
  width: 10%;
  padding-right: 2%;
  float: left;
  display: block;
}

.title_block_2 p{
  width: 90%;
  font-size: 0.65em;
  font-weight: bold;
}

.title_block_2 span{
  color: #b50000
}

.title_block_2 ul{
  display: inline-block;
  clear: both;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.title_block_2 li{
  display: inline-block;
  font-size: 0.65em;
}

.title_block_2 a{
  text-decoration: none;
  color: rgba(192,192,192,0.9);
}

.title_block_2 a:hover{
  color: #b50000;
}

.side_navigation{
  display: none;
}

.cat_title_square h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  margin-right: 60%;
  margin-bottom: 0;
}

#owl-demo .item{
  margin: 3px;
  border-top: 1px dotted rgba(192,192,192,0.9);
  margin-top: 0;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: 40%;
}
.owl-theme .owl-controls .owl-page span {
  background: #b50000;
}

.categories_block{
  padding-top: 8%;
}

.categories_block h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  margin:0 40% 0 0;
  width: 60%;
  
}

.fa_title_square{
  padding-top: 8%;
}

.fa_title_square h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  width: 60%;
  margin: 0 40% 0 0%;
  box-shadow: 2px 7px 12px 1px rgba(0,0,0,0.3);
}

.featured_img_block{
  border-top: 1px dotted rgba(192,192,192,0.9);
  width: 100%;
  margin-bottom: 0;
}

.featured_img_block img{
  display: block;
  width: 100%;
}

.featured_cont_1{
  margin-top: 0;
  padding-bottom: 10%;
  border-bottom: 1px dotted rgba(192,192,192,0.9);
}

.featured_cont_1 ul{
  margin: 0 0 0 0;
  padding: 0 0 0 0;

}

.featured_cont_1 li{
  text-decoration: none;
  list-style: none;
}

.featured_cont_1 li h3{
  text-decoration: none;
  list-style: none;
  color: rgba(0,0,0,0.8);
  margin-top: 4%;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 2em;
  padding-left: 14%;
}


.featured_cont_1 li h4{
  text-decoration: none;
  list-style: none;
  color: rgba(0,0,0,0.6);
  margin-top: 0%;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 1em;
  padding-left: 12%;
}

.featured_cont_1 li a{
  text-decoration: none;
  list-style: none;
  color: rgba(0,0,0,0.4);
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: bold;
  font-size: 0.7em;
  padding-left: 12%;
}

.featured_cont_1 li a:hover{
  color: #b50000;
}

.fa_buynow_button h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 2% 0% 2% 0%;
  width: 40%;
  margin: 5% 30% 0 30%;
  box-shadow: 2px 7px 12px 1px rgba(0,0,0,0.3);
}

.top_rated_title_square h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  width: 60%;
  margin: 0 40% 0 0%;
  
}

#owl-demo_1 .item{
  margin: 3px;
}
#owl-demo_1 .item img{
  display: block;
  width: 100%;
  height: 40%;
}

.top_rated_block{
   border-bottom: 1px dotted rgba(192,192,192,0.9);

}

.savings_title_square h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  width: 60%;
  margin: 0 40% 0 0%;
  box-shadow: 2px 7px 12px 1px rgba(0,0,0,0.3);

}

.discount_block{
  width: 100%;
}

.discount_block :last-child{
  color: #b50000;
  width: 96%;
  margin: 0 2% 0 2%;
  display: block;
  font-size: 1em;
  padding-left: 10%;
  font-weight: bolder;
}

.discount_paragraph{
  color: rgba(0,0,0,0.8);
  width: 96%;
  margin: 4% 2% 0 2%;
  display: block;
  font-size: 1.7em;
  padding-left: 10%;
  font-weight: bolder;
}

.discount_paragraph span{
  color: #b50000;
  width: 96%;
  margin: 4% 2% 0 2%;
  display: block;
  font-size: 1.7em;
  padding-left: 10%;
  font-weight: bolder;
}


.saving_img{
  width: 100%;
}

.saving_img img{
  display: block;
  width: 100%;
}

.saving_block{
  border-bottom: 1px dotted rgba(192,192,192,0.7);

}

.footer{
  width: 100%;
  margin: 10% auto 0 auto;
  border-top: 1px dotted rgba(192,192,192,0.7);
}

.footer a{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.footerProduct{
  width: 15%;
  margin-left: 3%;
  border-right: 1px dotted rgba(192,192,192,0.7);
  border-top: 1px dotted rgba(192,192,192,0.7);
  float: left;
}

.footerProduct p{
  font-size: 0.5em;
  text-align: center;
  font-weight: bolder;
}

.footerProduct img{
  display: block;
  width: 100%;
}

.footerLink{
  font-size: 0.4em;
  width: 79%;
  display: block;
  float: right;
  border-bottom: 1px dotted rgba(192,192,192,0.7);

}

.footer_link_1 , .footer_link_2 , .footer_link_3 , .footer_link_4 ,.footer_link_5{
  display: inline-block;
  vertical-align: top;
  width: 19%;
  margin: 0 0 0 0;
  border-top: 1px dotted rgba(192,192,192,0.7);
}

.footer_link_1 a:hover, .footer_link_2 a:hover , .footer_link_3 a:hover , .footer_link_4 a:hover ,.footer_link_5 a:hover{
  color: #b50000;
}

.footerLink ul{
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 0 3% 0 3%;
}

.sub_footer_links{
  clear:both;
}

.sub_footer_links img{
  width: 10%;
  padding-left: 3%;
  display: inline-block;
  vertical-align: top;

}

.sub_links{
  width: 82%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.sub_links ul{
  padding: 0;
  width: 100%;
}

.sub_links li{
  display: inline;
  list-style: none;
  text-decoration: none;
  font-size: 0.3em;
  margin: 0 0 0 0;
  font-weight: 500;
}


.sub_links a:hover{
  color: #b50000;
}

.sub_footer_links p{
  font-size: 0.3em;
  text-align: center;

}

.sub_links_2{
  border-top: 1px dotted rgba(192,192,192,0.7);
}

.sub_links_2 ul{
  padding: 0;
  width: 90%;
  margin: 2% 5% 0 5%;

}

.sub_links_2 li{
   display: inline;
  list-style: none;
  text-decoration: none;
  font-size: 0.3em;
  margin: 0 0 0 0;
  font-weight: 500;

}

.sub_links_2 a:hover{
  color: #b50000;
}

@media screen and (min-width:680px ){
    #owl-demo .item{
    margin: 3px;
    border-top: none;
    margin-top: 9%;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: 40%;
  }

  .categories_block h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  margin:0 0% 0 0;
  width: 100%;
  box-shadow: 2px 7px 12px 1px rgba(0,0,0,0.3);
  }


  .featured_img_block{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-top: none;
    margin-top: 9%;

  }

  .featured_cont_1{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-top: 9%;
  }

  .title_block_2{
  width: 98%;
  margin: 0 0 0 30%;
  }


  .title_block_2 img{
    width: 10%;
    padding-right: 2%;
    float: left;
    display: block;
  }

  .title_block_2 p{
    width: 90%;
    font-size: 1em;
    font-weight: bold;
  }

  .title_block_2 span{
    color: #b50000
  }

  .title_block_2 ul{
    display: inline-block;
    clear: both;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .title_block_2 li{
    display: inline-block;
    font-size: 0.8em;
    text-align: right;
  }

  .title_block_2 a{
    text-decoration: none;
    color: rgba(192,192,192,0.9);
  }

  .fa_title_square h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  width: 60%;
  margin: 0 20% 0 20%;
  box-shadow: 2px 7px 12px 1px rgba(0,0,0,0.3);

  }

  .savings_title_square h3{
  background: #b50000;
  color: white;
  text-align: center;
  padding: 3% 0% 3% 0%;
  width: 60%;
  margin: 0 0% 0 40%;
  box-shadow: 2px 7px 12px 1px rgba(0,0,0,0.3);

  }

  .discount_block{
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 9%;
  }

  .discount_block :last-child{
    color: #b50000;
    width: 96%;
    margin: 0 2% 0 2%;
    display: block;
    font-size: 1em;
    padding-left: 10%;
    font-weight: bolder;
  }

  .discount_paragraph{
    color: rgba(0,0,0,0.8);
    width: 96%;
    margin: 4% 0% 0 2%;
    display: block;
    font-size: 1.7em;
    padding-left: 10%;
    font-weight: bolder;
  }

  .discount_paragraph span{
    color: #b50000;
    width: 96%;
    margin: 4% 2% 0 2%;
    display: block;
    font-size: 1.7em;
    padding-left: 10%;
    font-weight: bolder;
  }

  .saving_img{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 9%;
  }

  .saving_img img{
    display: block;
    width: 100%;
  }

  .saving_block{
    border-bottom: 1px dotted rgba(192,192,192,0.9);
  }

  #owl-demo_1 .item{
  margin: 3px;
  }
  #owl-demo_1 .item img{
    display: block;
    width: 100%;
    height: 30%;
    margin-top:9%; 
  }

  .categories_block{
  padding-top: 8%;
  border-bottom: 1px dotted rgba(181,0,0,1);
  }

  .fa_title_square{
    padding-top: 0%; 
  }


}

@media screen and (min-width:900px ){
  .slicknav_menu { 
    display: none;
  }

  .menuWrap{
    display: block;
    width: 100%:;
  }
 
  ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.dropdown{ 
  position: relative; 
  width: 100%; 
}

ul.dropdown li{ 
  font-weight: bold; 
  float: left; 
  width: 15%; 
  position: relative;
  background: #b50000;
}

ul.dropdown a:hover{ 
  color: #000; 
}

ul.dropdown li a { 
  display: block; 
  padding: 20% 8px;
  color: white; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover{ 
  background: #900000;
  position: relative;
  color: #fff;
}


ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
}

ul.dropdown ul li { 
  font-weight: normal; 
  background: #f6f6f6; 
  color: #000; 
  border-bottom: 1px solid #ccc; 
  width: 100%;
  font-size: 0.6em;
}

ul.dropdown ul li a{ 
  display: block; 
  color: black !important;
  background: white !important;


} 

ul.dropdown ul li a h4{
  text-align: center;
}


ul.dropdown ul li a:hover{
  display: block; 
  background: #3498db !important;
  color: #fff !important;
} 

.drop > a{
  position: relative;
}

.drop > a:after{
  content:"";
  position: absolute;
  right: 5%;
  top: 40%;
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  z-index: 999;
}

.drop > a:hover:after{
  content:"";
   border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}

.shopcart_mobile{
  display: none;
}

.LogoWrapper_mobile{
  display: none;
}























}

